.unit-wrapper {
  background: linear-gradient(170deg, rgb(95, 93, 254), rgb(213, 213, 231));
  /* background-color: #5F5DFE; */
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 80px 0px;
  /* background-image: url("https://img.freepik.com/vector-gratis/fondo-elementos-isometricos-comercio-electronico_52683-536.jpg?size=626&ext=jpg"); */
}
.navbar {
  background: rgba(99, 92, 92, 0) !important;
  color: black !important;
}
.unit-wrapper img {
  width: 80%;
  height: 90%;
  margin: 5%;
}
